/* main.css */

/* These are the RGB colors and fonts used throughout the webpage.
 * Listed here so that a user may easily do a search-and-replace for these to change the site theme.
 *   'Roboto',sans-serif; Font for the title text
 *   'Bitter',serif; Font for the body text 
 *   #ffffff; White (background color of the site)
 *   #660874; Tsinghua Purple
 *   #f7f3f8; iframe background light purple
 *   #000000; Black (text color of the site)
 */

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    border:0;
    font:inherit;
    font-size:1em;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

body{
    background-color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
    color: #000000; 
    text-align:left;
    font-family:'Roboto',sans-serif;
    font-size:1em;
    line-height:1.5em;
    margin: 60px auto;
    width: 1050px;
}

footer{
    box-shadow: 0 50px 0 50px #660874;
    background-color:#660874;
    color:#ffffff;
    font-size:0.875em;
    margin:2em auto 2em auto;
    width: 950px;
    text-align: left;
}

a{color: #660874;}
a.current{color: #ffffff; font-weight: 700; background-color: #660874; text-decoration: none; box-shadow: 0 4px 0 7px #660874;}
a.other{text-decoration: none; color: #000000;}
a.other:hover{color: #ffffff; font-weight: 700; background-color: #660874; box-shadow: 0 4px 0 7px #660874;}
a.footer{color:#ffffff; text-decoration: none;}

h1,h2,h3{clear:left; width:950px; text-align:left; color: #660874; margin:24px auto 24px auto; font-family:'Bitter',serif; line-height: 1.2;}
h1{font-size:2.67em;}
h2{font-size:1.67em; font-weight:600;}
h3{font-size:1.24em;}
h4{font-size:0.75em; font-family:'Roboto',sans-serif; font-weight:100; text-align: justify; color: #ffffff; line-height: 1.1; hyphens: auto;} /* For the privacy statement */
h5{font-size:1.24em; font-family:'Roboto',sans-serif; font-weight:500; text-align: center; color: #660874;} /* For speaker names; because both English and Chinese may be used, it is better to use a sans-serif font in both cases. */

p{list-style:none; margin:24px auto 24px auto; padding:0px; width:950px; text-align:justify; hyphens: auto;}
p.resource-item{color: #ffffff; background-color: #660874; transition: all 0.23s; border: 1px solid #660874; margin:14px auto 14px auto; padding:3px 22px 3px 22px; width:906px; border-radius: 5px;}
p.resource-item:hover{color: #660874; background-color: #ffffff;}
li a, p a {text-decoration:underline; text-decoration-color:#660874;}
li{list-style:none; margin:0px auto 0px auto; padding:0px; text-align:left;}
i,em{font-style:italic;}
b,strong{font-weight:600;}
sup{
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0;
}
sub{
    vertical-align: sub;
    font-size: 0.8em;
    line-height: 0;
}
table{
    width: 950px;
    table-layout: fixed;
    margin: 12px auto 24px auto;
    float: center;
    /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
    /*border: 1px solid black;*/
}
th,td{
    text-align: left;
    /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
    /*border: 1px solid black;*/
}

/* Website Banner */
.banner {position: relative;}
.top-left {font-family:'Bitter',serif; font-size:5.33em; color: #000000; background: #ffffff; text-align: center; width: 1050px; height: 67px; position: absolute; padding: 36px 0 0 0; top: 0px;}

/* Conference Title Logo */
.title1{color: #660874; font-size:0.75em; font-weight:600;} 
.year{color: #000000; font-size:0.58em; font-weight:600;}
.pipe{color: #000000; font-size:0.58em; font-weight:400;}

/* Navigation Links (Home, Registration, etc) */
table.navigation{border-bottom: 2px solid #660874;}
td.navigation{font-size:1.67em; font-weight:600; font-family:'Bitter',serif; white-space:nowrap; width:20%; text-align:center; vertical-align:middle; padding-bottom: 12px;}

/* Sponsor Images */
td.sponsor{white-space:nowrap; width:25%; text-align:center; vertical-align:middle; padding:0px 12px 0px 12px;}
td.sponsor img{width: 100%}

/* The Table on the Program Page */
td.room{padding: 4px 0 4px 4px; width: 100%; vertical-align:bottom; font-size:1.67em; color: #660874; height:32px;}
td.date{white-space:nowrap; width:70px; text-align:left; vertical-align:top; padding:4px 16px 0px 0px;}
td.title{padding: 4px 0 4px 4px; width: 100%; vertical-align:top; font-size:1.24em; color: #660874; height:32px; font-family:'Bitter',serif;}
td.title-special{padding: 4px 0 4px 4px; width: 100%; vertical-align:top; font-size:1.67em; font-weight:600; color: #660874; height:32px; font-family:'Bitter',serif;}
td.speaker{padding: 4px 0 4px 4px; font-style: italic; font-size:1em; max-height:999999px}
td.abstract{padding: 4px 0 12px 4px; font-size:1em; text-align: justify; hyphens: auto; max-height:999999px}
td.abstract img{display: block; margin: 4px auto 8px auto}
table.plenary{padding-top: 8px; background: #ffffff;}

/* Registration iframe */
iframe.registration{display:block; margin:1em auto 2em auto; width:950px; height:3650px; border:none;}

/* Social media widgets in guest speakers' info */
img.widget{width: 1.24em}
